.column {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid lightblue;
  margin: 5px;
}

.name {
  margin-bottom: 5px;
}

.editButton {
  margin-bottom: 5px;
}

.columnDrag {
  background: deepskyblue;
}
